
/*/==> GENERAL <==/*/

.nova-icon {
	height: 1em;
	width: 1em;
	margin: 0 auto;
	text-align: center;
}
.nova-icon > svg {
	height: 100%;
	width: 100%;
	vertical-align: 2px;
}

.nova-input {
	background-color: transparent;
	font-size: 1em;
	border: 0;
	width: 100%;
}

/*/==> PAGE BASICS <==/*/

.nova-container {
	width: 1000px;
	max-width: 100%;
	margin: auto;
	padding: 0 20px;
}

/*/==> BLOCK BASICS <==/*/

.nova-block {
	position: relative;
}
.nova-block > .nova-block-opts {}
.nova-block > .nova-block-body {}

/*/==> CONTEXT MENU <==/*/

.nova-context {
	max-width: 100%;
	width: 300px;
	display: none;
	margin-top: 5px;
	background-color: var(--bg2);
	border: 1px solid var(--ui1);
	border-radius: 5px;
	box-sizing: border-box;
	position: absolute;
	max-height: 400px;
	overflow: auto;
}
.nova-context.show {
	display: block;
}
.nova-context-group {
	width: 100%;
	margin: 10px 0;
}
.nova-context-group.hide {
	display: none;
}
.nova-context-group > .nova-context-group-title {
	text-align: left;
	width: 100%;
	font-weight: bold;
	padding: 5px 20px;
	font-size: .9em;
}
.nova-context-group > .nova-context-group-list {
	width: 100%;
}
.nova-context-elm {
	display: flex;
	flex-direction: row;
	width: 100%;
	transition: background-color .3s;
	column-gap: 15px;
	padding: 10px 20px;
	align-items: center;
}
.nova-context-elm.hide {
	display: none;
}
.nova-context-elm.disabled {
	opacity: .4;
	cursor: not-allowed;
}
.nova-context-elm:not(.disabled):hover {
	background-color: var(--bg1);
	cursor: pointer;
}
.nova-context-elm.focused {
	background-color: var(--bg1);
	outline: 1px solid var(--ui1);
}
.nova-context-elm > .nova-context-row-icon {
	flex: 0 0 var(--nova-single-width);
	width: 30px;
	height: 30px;
	padding: 7px;
	background-color: var(--bg3);
	border-radius: 3px;
	outline: 1px solid var(--ui1);
}
.nova-context-elm > .nova-context-row-data {
	flex: 1 1 100%;
	overflow: hidden;
}
.nova-context-elm > .nova-context-row-data > .nova-context-row-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	font-size: .95em;
}
.nova-context-elm > .nova-context-row-data > .nova-context-row-details {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .85em;
	opacity: .8;
}

/*/==> CONTENT & BASIC BLOCK <==/*/

.nova-content {
	--nova-base-height: 30px;
	--nova-single-width: 30px;
}
.nova-block {
	min-height: var(--nova-base-height);
	margin-bottom: 20px;
}
.nova-content .nova-input {
	min-height: var(--nova-base-height);
	line-height: var(--nova-base-height);
}
.nova-block-opts {
	--opts-base-height: calc(var(--nova-base-height) - 6px);
	padding: 3px;
	position: absolute;
	right: 100%;
	top: 0;
	height: var(--nova-base-height);
	flex-direction: row;
	column-gap: 2px;
	box-sizing: border-box;
	display: none;
}
.nova-block:hover .nova-block-opts {
	display: flex;
}
.nova-block-opts .opts-elm {
	height: var(--opts-base-height);
	width: var(--opts-base-height);
	border-radius: 5px;
	opacity: .7;
}
.nova-block-opts .opts-elm:hover {
	opacity: 1;
	background-color: var(--bg2);
	cursor: pointer;
}
.nova-block-opts .opts-elm > .nova-icon {
	height: 100%;
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}
.nova-block-body {}

/*/==> LIST VIEW <==/*/

.nova-list-row {
	position: relative;
}
.nova-list-row::after {
	content: '';
	pointer-events: none;
	height: 50%;
	position: absolute;
	right: 0;
	border: 1px dashed var(--chart-color-1);
	display: none;
}
.nova-list-row.drag-over::after { display: block; }
.nova-list-row.drag-top::after { top: -1px; left: 0; }
.nova-list-row.drag-bot::after { bottom: -1px; left: 0; }
.nova-list-row.drag-side::after { bottom: -1px; left: 50%; }
.nova-list-row-line {
	display: flex;
	flex-direction: row;
	height: var(--nova-base-height);
	align-items: center;
	position: relative;
}
.nova-list-row-list {
	padding-left: var(--nova-single-width);
}
.nova-list-add {
	opacity: .65;
	font-size: .95em;
}
.nova-list-add:hover {
	opacity: .9;
}
.nova-list-row-bullet {
	flex: 0 0 var(--nova-single-width);
	color: var(--text-muted);
	position: relative;
}
.nova-list-row-icon {
	--nova-row-icon-height: calc(var(--nova-single-width) - 4px);
	--nova-row-icon-width: calc(var(--nova-single-width) - 10px);
	position: relative;
	height: var(--nova-row-icon-height);
	width: var(--nova-row-icon-width);
}
.nova-list-row-icon svg {
	padding: 3px 0;
}
.nova-list-row-icon .bullet {
	position: absolute;
	margin: auto;
	top: 0; bottom: 0;
	left: 0; right: 0;
	width: var(--nova-row-icon-width);
	height: var(--nova-row-icon-height);
	line-height: var(--nova-row-icon-height);
}
.nova-list-row-drag {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: var(--bg1);
	height: var(--nova-row-icon-height);
	width: var(--nova-row-icon-width);
	display: none;
	padding: 3px 0;
}
.nova-list-row:hover .nova-list-row-drag {
	display: block;
}
.nova-list-row-drag:hover {
	color: var(--text-bold);
}
.nova-list-row-title {
	flex: 1 1 100%;
}
.nova-list-title-row .nova-list-row-title {
	font-weight: bold;
}
.nova-list-row-attrs {
	flex: 1 1 max-content;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.nova-list-row-opts {
	flex: 1 1 max-content;
}

/*/==> RESOURCE MODAL <==/*/

.res-modal-extended {
	width: 700px;
}

.res-form-toolheader {
	padding: 0 15px;
    font-weight: bold;
}

.res-form-in {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: 0;
	padding: 0 15px;
	border: 1px solid var(--background-primary);
	margin-bottom: 5px;
	transition: border .3s;
}
.res-form-in:hover,
.res-form-in:focus {
	border-color: var(--color-blue);
}

.in-errs {
	padding: 0 15px;
	margin-bottom: 7px;
}
.in-errs > .err-elm {
	color: var(--color-red);
	font-size: .95em;
}

.res-form-but {
	border: 1px solid var(--background-primary);
	margin-left: auto;
	margin-right: 15px;
	display: block;
}
.res-form-but:hover,
.res-form-but:focus {
	border-color: var(--color-blue);
}

.res-grid-table {
	margin-bottom: 10px;
}
.res-grid-header,
.res-grid-row {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 1fr 1fr 25px;
	border-bottom: 1px solid var(--text-normal);
}
.res-grid-header {
	padding: 7px 0;
}
.res-grid-row {
	align-items: center;
	justify-items: center;
}
.res-grid-row:nth-child(2n) {
	background-color: var(--bg2);
}
.res-grid-header > * {
	font-size: .85em;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 15px;
}
.res-grid-header > .header-center {
	text-align: center;
	padding: 0;
}

.res-grid-row > * {
	width: 100%;
	height: 40px;
	--row-height: 40px;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}
.res-grid-row > *:hover {
	background-color: var(--bg3);
}
.res-grid-row > .col-close:hover {
	color: var(--color-red);
}
.res-grid-row > .res-row-txt {
	justify-content: start;
	padding: 0 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: .9em;
}
.res-grid-row > * > select,
.res-grid-row > * > input[type="text"] {
	width: 100%;
	height: 100%;
	height: var(--row-height);
	padding: 0 15px;
	box-sizing: border-box;
	border-radius: 0;
	background-color: transparent;
	border: 1px solid var(--bg3);
	box-shadow: none;
}

.res-form-create {
	padding: 5px 10px;
	border-radius: 5px;
	display: block;
	width: max-content;
	font-size: .95em;
	margin-left: 5px;
}
.res-form-create:hover {
	background-color: var(--bg3);
}
